@font-face {
  font-family: "Fredoka";
  src: url("https://uploads-ssl.webflow.com/59de7f3f07bb6700016482bc/6219b2cd6fcace20db15cdff_Fredoka-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fredoka";
  src: url("https://uploads-ssl.webflow.com/59de7f3f07bb6700016482bc/6219b2cd234674d19ba9d0a7_Fredoka-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fredoka";
  src: url("https://uploads-ssl.webflow.com/59de7f3f07bb6700016482bc/6219b2cda757f9b2bbe1d733_Fredoka-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fredoka";
  src: url("https://uploads-ssl.webflow.com/59de7f3f07bb6700016482bc/6219b2cd5b9d83afda2ae0d9_Fredoka-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fredoka";
  src: url("https://uploads-ssl.webflow.com/59de7f3f07bb6700016482bc/6219b2cd814e36afbea2b62c_Fredoka-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jcfonts linotte";
  src: url("https://uploads-ssl.webflow.com/59de7f3f07bb6700016482bc/5bb3cae4b3465c59c6324712_JCFonts%20-%20Linotte%20Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Jcfonts linotte";
  src: url("https://uploads-ssl.webflow.com/59de7f3f07bb6700016482bc/5bb3cae5801fbc834683d987_JCFonts%20-%20Linotte%20Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Jcfonts linotte";
  src: url("https://uploads-ssl.webflow.com/59de7f3f07bb6700016482bc/5bb3cae52318760ab040832d_JCFonts%20-%20Linotte%20Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Jcfonts linotte";
  src: url("https://uploads-ssl.webflow.com/59de7f3f07bb6700016482bc/5bb3cae470f11780d3fc5dca_JCFonts%20-%20Linotte%20Heavy.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Jcfonts linotte";
  src: url("https://uploads-ssl.webflow.com/59de7f3f07bb6700016482bc/5bb3cae4b3465c5247324713_JCFonts%20-%20Linotte%20SemiBold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
