.btn {
  font-weight: $input-font-weight;
}

.btn-success,
.btn-primary,
.btn-info,
.btn-danger {
  &,
  &:hover,
  &:focus,
  &:visited {
    color: #fff;
  }
}

.btn {
  font-weight: $font-weight-bold;
  &-lg {
    font-weight: $font-weight-normal;
  }
}

.btn-outline-primary:hover {
  color: #fff;
}

.btn.btn__link-light {
  border: none;
  color: #9796b1;

  &:hover {
    color: #6f6f90;
  }
}

.btn.btn__link-dark {
  border: none;
  color: $gray-700;

  &:hover {
    color: $gray-900;
  }
}

.btn__purple {
  background: #a278fc;
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.btn__xs {
  font-size: 11px;
  line-height: 16px;
  padding: 4px 8px;
}

.btn__category {
  align-items: center;
  background-color: $gray-100;
  display: flex;
  justify-content: center;
  padding: 5px 10px;

  .icon__category {
    font-size: 36px;
    height: 1em;
    width: 1em;
    svg {
      height: 1em;
      width: 1em;
    }
  }
}

.btn-lg {
  height: 48px;
}

.btn__signout {
  background-color: var(--bkg-shade);

  &:hover {
    background-color: $gray-200;
  }
}

.btn__checkout {
  padding: 12px 18px;
  img {
    height: 18px;
  }
}