.input__label {
  display: flex;
  position: relative;
  margin: 12px 0;
  
  .input__span {
    background-color: var(--bkg-color);
    position: absolute;
    top: 16px;
    padding: 0 6px;
    left: 6px;
    color: #868ca0;
    transition: transform 0.2s ease;
    pointer-events: none;
  }

  input, textarea {
    &:focus + .input__span {
      transform: translatey(-23px);
      outline: none;
    }
  }
  textarea:focus,
  input:focus {
    outline: none;
  }
  textarea,
  input {
    background: var(--bkg-color);
    border: 1px solid var(--border-input);
    background: #ffffff00;
    font-weight: 600;
    appearance: none;
    width: 100%;
    font-family: inherit;
    border-radius: 3px;
    padding: 12px;
    height: 54px;
    font-size: 16px;
    transition: transform 0.2s ease;
  }

  textarea[rows] {
    height: auto;
  }
}

.form__label {
  font-weight: $font-weight-bold;
  color: $gray-500;
  margin-bottom: 8px;
}

.form-control-xl {
  height: 54px;
}

.form-check .form-check-input {
  margin-top: -2px;
}

.form-check {
  padding-left: 2.25em;
}