.list__table {
    position: relative;
    overflow: visible;
    flex: 0 0 auto;
    border-right: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
    border-radius: 4px;
  }
  
  .list__table-sort {
    margin-right: -1px;
    margin-left: -1px;
    padding-right: 21px;
    padding-left: 21px;
    align-items: center;
    border: 1px solid #f5f5f5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .btn.btn__sort {
    color: #3a94d4;
    padding-top: 14px;
    padding-bottom: 14px;
  }
  
  .list__img-badge {
    background-color: #4dc59e;
    border-radius: 10px;
    color: #fdfdfd;
    position: absolute;
    right: -2px;
    top: -2px;
    display: inline-block;
    font-size: 9px;
    font-weight: 600;
    line-height: 1;
    margin-left: 6px;
    padding: 5px 8px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .qty__tag {
    background-color: $gray-100;
  }
  
  .category__link {
    .category__img-wrap {
      margin: 6px 9px 6px 6px;
      padding: 9px 0;
      flex: 0 0 auto;
      height: 34px;
      max-height: 34px;
      max-width: 34px;
      min-height: 34px;
      min-width: 34px;
    }
  }
  
  .billing__buttons {
    gap: 8px;
  }
  
  .progress__wrap {
    max-width: 300px;
  
    @include media-breakpoint-down(md) {
      width: 200px;
    }
  }
  
  .table__list-item + .table__list-item {
    border-top: 1px solid #f5f5f5;
  }
  
  .billing__name {
    width: 150px;
  
    @include media-breakpoint-down(sm) {
      width: auto;
    }
  }
  
  @include media-breakpoint-down(sm) {
    .post__value {
      order: 1;
    }

    .qty__tag {
      order: 1;
    }
  }