.storefront-img {
  width: 100%;
}

.storefront-title {
  color: $primary;
  font-size: 50px;
  font-family: $font-family-3;
  font-weight: 700;
  text-shadow: 2px 2px 0 #fff, 3px 4px 0 $secondary ;
}

.storefront-section {
  padding: 100px 0;

  .storefront-title {
    margin-bottom: 60px;
  }
}